#container {
    background-color: var(--black_light);

    display: flex;
    flex-direction: column;

    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 4vw;
    margin-top: 1rem;
}

.header .logo {
    text-decoration: none;
}

.header .logo img{
    height: clamp(10rem, 20vw, 16rem)
}

.section {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-credentials {
    min-height: clamp(30rem, 50vw, 35rem);
    width: clamp(25rem, 65vw, 40rem);
    border-radius: 1.5rem;
    background: var(--black);
    padding: clamp(2.5rem, 3vw, 3rem) clamp(2rem, 3vw, 3rem) clamp(1rem, 2vw, 3rem);
    
    display: flex;
    flex-direction: column;
}

form header h3 {
    color: var(--white);
    font-family: var(--font_Jost);
    font-weight: 600;

    font-size: clamp(2rem, 3vw, 3rem);

    margin-top: 1rem;
}

form main {
    flex: 1;
    margin-top: 2rem;
}


form .inputs .input + .input {
    margin-top: 1.5rem;
}

form .inputs .input {
    display: flex;

    background: var(--black_light);
    height: clamp(4rem, 5.5vw, 6rem);
    width: 100%;

    display: flex;
    align-items: center;
    padding: 0 1rem;
}

form .inputs .input .icon {
    display: flex;
}

form .inputs .input .icon::after {
    content: "";

    width: .2rem;

    margin-left: .6rem;

    background-color: var(--white);
}

form .inputs .input .icon img {
    height: 2.5rem;
}

form .inputs .input input {
    background: none;
    border: none;
    height: 100%;
    width: 100%;

    outline: none;

    color: var(--white);
    font-family: var(--font_Jost);

    font-size: clamp(1.3rem, 2vw,1.6rem);

    margin-left: 1rem;
}

form main .form-interactions {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: clamp(1rem, 1vw ,1.5rem);

    font-weight: 300;
}

form main .form-interactions .checkbox-wrapper {
    color: var(--white);
    font-family: var(--font_Jost);
}

form main .form-interactions .checkbox-wrapper input {
    display: none;
}

form main .form-interactions .checkbox-wrapper label {
    display: flex;
    font-size: clamp(1rem, 1.5vw, 1.25rem);

}

form main .form-interactions .checkbox-wrapper label:before {
    content: "";
    display: block;
    height: clamp(1.4rem, 1.5vw, 1.7rem);
    width: clamp(1.4rem, 1.5vw, 1.7rem);
    box-sizing: border-box;
    border: 1px solid var(--white);
    border-radius: 2px;
    margin-right: 6px;


}



#check:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 417 325' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M159.677 318.279C155.696 322.283 150.266 324.517 144.624 324.517C138.983 324.517 133.552 322.283 129.571 318.279L9.35675 198.045C-3.11892 185.569 -3.11892 165.339 9.35675 152.887L24.4094 137.83C36.889 125.355 57.0957 125.355 69.5713 137.83L144.624 212.887L347.428 10.0794C359.907 -2.39626 380.134 -2.39626 392.59 10.0794L407.642 25.136C420.118 37.6116 420.118 57.8378 407.642 70.294L159.677 318.279Z' fill='%23FF0036'/%3E%3C/svg%3E%0A");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .2s ease-in-out;

    background-color: var(--white);
}

form main .form-interactions a {
    text-decoration: none;
    color: var(--grey);
    font-family: var(--font_Jost);
    font-size: clamp(1rem, 1.5vw, 1.25rem);

    transition: background .2s;
}

form main .form-interactions a:hover {
    color: var(--white);
}


form input[type="submit"] {
    width: 80%;
    height: clamp(2.5rem, 5.5vw, 4rem);


    border-radius: .5rem;
    border: none;
    background-color: none;

    background-color: var(--red);
    color: var(--white);
    font-family: var(--font_Jost);
    font-weight: 600;
    font-size: clamp(1.3rem, 2vw,1.8rem);

    justify-self: end;
    align-self: center;

    margin-bottom: 1rem;

    cursor: pointer;

    transition: background .2s;

    margin-top: 7rem;
}

form input[type="submit"]:hover {
    background-color: #cf002d;
}