#container {
    background-color: var(--black_light);

    display: flex;
    flex-direction: column;

    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 4vw;
    margin-top: 1rem;
}

.header .logo {
    text-decoration: none;
}

.header .logo img{
    height: clamp(10rem, 20vw, 16rem)
}

.section {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-credentials {
    height: clamp(30rem, 50vw, 41rem);
    width: clamp(25rem, 65vw, 40rem);

    border-radius: 1.5rem;

    background: var(--black);

    padding: clamp(2.5rem, 3vw, 3rem) clamp(2rem, 3vw, 3rem) clamp(1rem, 2vw, 3rem);

    
    display: flex;
    flex-direction: column;

}

form header h3 {
    color: var(--white);
    font-family: var(--font_Jost);
    font-weight: 600;

    font-size: clamp(2rem, 3vw, 3rem);

    margin-top: 1rem;
}

form main {
    flex: 1;
    margin-top: 2rem;
}


form .inputs .input + .input {
    margin-top: 1.5rem;
}

form .inputs .input {
    display: flex;

    background: var(--black_light);
    height: clamp(4rem, 5.5vw, 6rem);
    width: 100%;

    display: flex;
    align-items: center;
    padding: 0 1rem;
}

form .inputs .input .icon {
    display: flex;
}

form .inputs .input .icon::after {
    content: "";

    width: .2rem;

    margin-left: .6rem;

    background-color: var(--white);
}

form .inputs .input .icon img {
    height: 2.5rem;
}

form .inputs .input input {
    background: none;
    border: none;
    height: 100%;
    width: 100%;

    outline: none;

    color: var(--white);
    font-family: var(--font_Jost);

    font-size: clamp(1.3rem, 2vw,1.6rem);

    margin-left: 1rem;
}


form main .form-interactions {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: 1rem;
}

form main .form-interactions a {
    text-decoration: none;
    color: var(--grey);
    font-family: var(--font_Jost);
    font-size: 1.2rem;

    transition: background .2s;
}

form main .form-interactions a:hover {
    color: var(--white);
}


form input[type="submit"] {
    width: 80%;
    height: clamp(2.5rem, 5.5vw, 4rem);


    border-radius: .5rem;
    border: none;
    background-color: none;

    background-color: var(--red);
    color: var(--white);
    font-family: var(--font_Jost);
    font-weight: 600;
    font-size: clamp(1.3rem, 2vw,1.8rem);

    justify-self: end;
    align-self: center;

    margin-bottom: 1rem;

    cursor: pointer;

    transition: background .2s;
}

form input[type="submit"]:hover {
    background-color: #cf002d;
}